
body {
    font-family: Arial, sans-serif;
    color: #6316de;
    padding: 20px;
    background-color: #6316de;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: #6316de;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drum-pad {
    margin: 5px;
    padding: 15px;
    font-size: 1.5em;
    width: 100px;
    height: 100px;
}

#display {
    font-size: 1.2em;
    margin: 20px 0;
    color: #ff0000;
}
h1 {
 background-color: #024f0e;   
 
}
